.spinner-wrapper {
  margin: 0;
  display: grid;
  place-items: center;
  height: 50vh;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 20px solid rgba(255, 255, 255, 0.1);
  border-top-color: #fe7e14;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
